aiofiles
click
flake8
ghp-import==2.0.2
importlib-metadata
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe
mccabe==0.6.1
mergedeep==1.3.4
mkdocs==1.3.0
mkdocs-material==8.2.8
mkdocs-material-extensions==1.0.3
packaging==21.3
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments
pymdown-extensions
pyparsing
python-dateutil
PyYAML
pyyaml_env_tag
six
tqdm==4.64.0
watchdog
zipp
python-slugify==6.1.2